<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book View</title>
</head>
<body>
    <h1>{{book_to_get_title}}</h1>
    <p>ID : {{book_to_get_id}}</p>
    <p>Description : {{book_to_get_desc}}</p>
    <ul>
        Authors :
        {% for j in book_to_get_authors%}
        <li>{{j.first_name}} {{j.last_name}}</li>
        {%endfor%}
    </ul>
    <form action="/add_book_to_author" method="POST">
        {% csrf_token %}
        <input type="hidden" name="book_id" value="{{book_to_get_id}}">
        <select name="all_authors_menu" >
            {%for i in drop_down_authors%}
            <option value="{{i.id}}">{{i.first_name}} {{i.last_name}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="Add">
        
    </form>
</body>
</html>