
header{
    margin :100px 150px 100px 300px;
    border-bottom: black solid;
}
.new{
    display: inline-block;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 100px;
}
footer{
    display: flex;
    flex-direction: column;
}
footer ul{
    list-style-type : none;
}

